#article_body {
    width: 70%;
    height: 200px;
    background-color: #e5e5e5;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 16px;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: auto;
  }
