.not-permission-img {
    width: 450px;
    height: 320px;
}
.not-permission-wrapper {
    display: flex;
    flex-direction: column;
}
.not-permission-wrapper > .title {
    font-size: 42px;
    font-weight: bolder;
    background: linear-gradient(45deg, #ED008E, #EF033B);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
.not-permission-wrapper > .content {
    margin-top: 10px;
    font-size: 18px;
}
