.content-article-show-wrapper {
    margin-top: 90px;
    width: 90%;
    height: auto;
    padding: 10px;
    background: #ffffff;
    border-radius: 25px;
}
.content-article-show-wrapper > .title-article {
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content-article-show-wrapper > .title-article > .time-article {
    font-size: 14px;
    font-style: italic;
    color: #d3d3d3;
}
.content-article-show-wrapper > .author-article {
    font-size: 18px;
    color: #0000ff;
    margin:5px 0;
}

