html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: relative;

}
.wrapper {
  margin-top: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #EDEDED;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;

}
