.navbar-wrapper
    .left-navbar
        .logo TechBlog
        .menu
            = link_to "Home", articles_path, class: "item"
            = link_to "Author", "/authors", class: "item"
            = link_to "About", articles_path, class: "item"
            = link_to "Support", articles_path, class: "item"
        input.search-bar[type="text"  placeholder="Search articles..."]
    .right-navbar
        - if user_signed_in?
            .username[data-controller="navigation" data-navigation-target="path" data-action="click->navigation#navigate" data-content="/manager"]
                = current_user.fullname
            = button_to "Logout" , destroy_user_session_path,  method:  :delete,class: "logout", form_class: "logout-form"
        - else
            = link_to "Login", new_user_session_path, class: "login"
            = link_to "Signup", new_user_registration_path, class: "signup"
